<a href="https://colab.research.google.com/github/CheboluGayatri/CheboluGayatri/blob/main/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Take Multiple Input in Python**

In [3]:
# take two inputs at a time
x,y=input("enter two values").split()
print("no of boys:",x)
print("no of girls:",y)

enter two values10 20
no of boys: 10
no of girls: 20

In [4]:
# take three inputs at a time
x,y,z=input("enter total valus:").split()
print("Total no of students:",x)
print("no of boys:",y)
print("no of girls:",z)

enter total valus:30 10 20
Total no of students: 30
no of boys: 10
no of girls: 20

**How to Change the Type of Input in Python**

In [5]:
# Take input as a string
color=input("What color is rose:")
print(color)

What color is rose:red
red

In [6]:
#Print Numbers in Python
n=int(input("How many roses:"))
print(n)

How many roses:100
100

In [7]:
#Print Float/Decimal Number in Python
price=float(input("price of rose:"))
print(price)

price of rose:50.35
50.35

**Find DataType of Input in Python**

In [9]:
a="Hello world"
b=10
c=11.22
d=("Greeks","for","Greeks")
e=["Greeks","for","Greeks"]
f={"Greeks","for","Greeks"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'set'>

**Output Formatting**

**1.Using Format()**

In [13]:
#1. Using Format()
amount=100
print("Amount: ${:.2f}".format(amount))

Amount: $100.00

**2.Using sep and end parameter**

In [18]:
#2. Using sep and end parameter
print("Python", end='@')
print("Greeks for greek")
# separating with comma
print('G','F','H',sep=',')
#for formatting with date
print('09','12','2016',sep='-')
#another example
print('pratik', 'geeksforgeeks', sep='@')

Python@Greeks for greek
G,F,H
09-12-2016
pratik@geeksforgeeks

**3.Using f-string**

In [21]:
3.#Using f-string
name='Lakshmi'
age=23
print(f"Hello, my name is {name} and I'm {age} years old")

Hello, my name is Lakshmi and I'm 23 years old

**4.Using % Operator**

We can use '%' operator. % values are replaced with zero or more value of elements. The formatting using % is similar to that of ‘printf’ in the C programming language.


%d –integer

%f – float

%s – string

%x –hexadecimal

%o – octal

In [22]:
# Taking input from the user
num = int(input("Enter a value: "))

add = num + 5

# Output
print("The sum is %d" %add)

Enter a value: 10
The sum is 15

**Taking Conditional User Input in Python**

In Python, taking conditional user input means getting input from the user and making decisions based on that input. You usually use the input() function to get the value and then use if-else statements to check conditions.


input() is used to take user input as a string.

You can use int() or float() to convert it if needed.

Use if, elif, and else to apply conditions to the input.

In [24]:
#print() in python
print("hello")
print("welcome","to","the","web")
print()
print("hope you are enjoying class")

hello
welcome to the web

hope you are enjoying class

In [27]:
name=input("enter you name:")
print("welcome" + name)

enter you name: Gayi
welcomeGayi